{{> organisms-header }}

<main>

    {{#> molecules-layout-container }}

        {{> molecules-page-header }}

        {{> organisms-text-passage }}

    {{/ molecules-layout-container}}

</main>

{{> organisms-footer }}