<header class="c-header {{ headerStyleModifier }}">

    <div class="l-container">

    	{{> molecules-logo }}

    	{{> molecules-primary-nav }}

    </div><!--end l-container-->

</header><!--end c-header-->
