/*------------------------------------*\
    #CARD
\*------------------------------------*/

/**
 * A collection of text and/or images and/or other smaller content 
 */

.c-card {
	display: block;
	border: 1px solid $color-neutral-gray-27;
	padding: $spacing;
	max-width: 27rem;
	transition: all $anim-fade-quick $anim-ease;

	&:hover,
	&:focus {
		border-color: $color-neutral-gray-60;
		background: $color-neutral-gray-02;
	}
}
